.sideBar {
    padding: 20px 20px;
    background-color: #aeadad;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;

    &__title {
        color: whitesmoke;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }


    &__link {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 10px 4px;
        border-radius: 6px;
        svg {
            width: 22px;
            height: 22px;
        }
    }

    .active {
        background-color: gray;
    }

    &__bottom {
        position: absolute;
        bottom: 30px;
        left: 15px;
    }
}